<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puchu Detail</title>
</head>
<body>
    <header>
        <a href="../index.html"> <img src="../img/logo1.jpeg" alt="Logo puchu detail" width="600" height="200"></a>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="Galeria.html">Galeria</a></li>
            <li><a href="Contactos.html">Contacto</a></li>
            <li><a href="Nosotros.html">Sobre Nosotros</a></li>
        </ul>
    </header>
    <main>
        <h3>Algunos de nuestros trabajos realizados</h3>

        <img src="../img/auto2.png" alt="208 Tratamiento ceramico" width="450" height="400">
        <br>
        <img src="../img/auto3.png" alt="Porsche detallado completo" width="650" height="400">
        <br>
        <img src="../img/auto4.png" alt="Mercedes detallado completo de motor" width="400" height="500">
        <br>
    
    
    </main>
    <footer>    
        <h4>Nuestras redes</h4>
        
        <a href="https://www.instagram.com/puchudetailling/?next=%2F" target="_blank"><img src="../img/insta.webp" alt="Logo instagram" width="35" height="35"></a>

        <a href="https://twitter.com/" target="_blank"><img src="../img/twitter.svg" alt="Logo Twitter" width="35" height="35"></a>

        <a href="https://www.tiktok.com/@puchudetail" target="_blank"><img src="../img/tiktok.png" alt="Logo tiktok" width="35" height="35"></a>
        
        <br>
        
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.4416457693355!2d-58.52205558438716!3d-34.643547780449246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc84f611d896b%3A0x1d0940af92c19570!2sPalmar%206644%2C%20C1408EEF%20CABA!5e0!3m2!1ses!2sar!4v1666579894038!5m2!1ses!2sar" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </footer>
</body>
</html>